//Colors

// Primary

$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);

// Neutral

$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayishMagenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);


:root{
    font-size: 15px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Spartan', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $White;
    position:relative;
}

.bg-pattern-top-mobile{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.bg-pattern-bottom-mobile{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    right: 0px;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}
.title{
    margin-top: 80px;
    font-weight: 700;
    color: $VeryDarkMagenta;
    font-size: 2em;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    line-height: 1;
}

.description{
    color: $DarkGrayishMagenta;
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.3px;
    line-height: 1.7;
    margin-top: 25px;
}

.rated-group{
    margin-top: 40px;
    margin-bottom: 40px;
}

.rated{
    background: $LightGrayishMagenta;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
}
.rated span{
    font-weight: 700;
    color: $VeryDarkMagenta;
    font-size: 13px;
}

.stars{
    margin-bottom: 8px;
}

.star{
    margin-left: 2px;
    margin-right: 2px;
}

.buyers{
    margin-bottom: 80px;
}

.buyer{
    background: $VeryDarkMagenta;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 30px;
}

.profile{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.profile img{
    border-radius: 50%;
    width: 40px;
}

.name-veri{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.name{
    color: $White;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 0.8em;
}

.verification{
    color: $SoftPink;
    font-size: 0.8em;
}

.avaliation{
    color: $White;
    font-size: 0.82em;
    line-height: 1.9;
    font-weight: 400;
}